In [1]:
cd Desktop/BIA-660/Final Project/data

/Users/linzeyang/Desktop/BIA-660/Final Project/data

In [2]:
import pandas as pd
df = pd.read_csv('201612-citibike-tripdata.csv')

In [3]:
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1

In [4]:
# missing values in columns
df.isnull().sum()

Trip Duration                  0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                   5388
Birth Year                 39704
Gender                         0
dtype: int64

In [5]:
# Snake_case the columns
import re
def camel_to_snake(name):
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).replace(' ','').lower()

df.columns = [camel_to_snake(col) for col in df.columns]
df.head()

,trip_duration,start_time,stop_time,start_stationid,start_station_name,start_station_latitude,start_station_longitude,end_stationid,end_station_name,end_station_latitude,end_station_longitude,bikeid,user_type,birth_year,gender
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1

In [6]:
# parse start_time and stop_time
import datetime

try:
    df['start_datetime'] = [datetime.datetime.strptime(x, '%m/%d/%Y %H:%M:%S') for x in df.start_time]
except ValueError:
    df['start_datetime'] = [datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S') for x in df.start_time]
df['start_day'] = [x.strftime('%Y-%m-%d') for x in df.start_datetime]

df.head()

,trip_duration,start_time,stop_time,start_stationid,start_station_name,start_station_latitude,start_station_longitude,end_stationid,end_station_name,end_station_latitude,end_station_longitude,bikeid,user_type,birth_year,gender,start_datetime,start_day
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1,2016-12-01 00:00:04,2016-12-01
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1,2016-12-01 00:00:28,2016-12-01
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1,2016-12-01 00:00:39,2016-12-01
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1,2016-12-01 00:00:44,2016-12-01
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1,2016-12-01 00:00:54,2016-12-01

## group by date and station

In [7]:
df['bikein']=1
df['bikeout']=1

df_bikeout = df.groupby(by=['start_stationid','start_day'])['bikeout'].count()
df_bikein = df.groupby(by=['end_stationid','start_day'])['bikein'].count()

In [8]:
df_bikeout = pd.DataFrame(df_bikeout)

In [9]:
df_out = df_bikeout.reset_index(drop = False)
df_out.rename_axis({'start_stationid':'station_id'}, axis='columns', inplace=True)

In [10]:
df_bikein = pd.DataFrame(df_bikein)

In [11]:
df_in = df_bikein.reset_index(drop = False)
df_in.rename_axis({'end_stationid':'station_id'}, axis='columns', inplace=True)

In [12]:
df_dayloss = df_out.merge(right = df_in, left_on=['station_id','start_day'], right_on=['station_id','start_day'], how='outer')
# or join
# df_out.join(df_in.set_index(['station_id','start_day']), on=['station_id','start_day'], how='outer')
df_dayloss = df_dayloss.sort_values(['station_id', 'start_day'])

In [19]:
len(df_dayloss)

18512

## bike loss per day for each station

In [13]:
df_dayloss = df_dayloss.fillna(0)

In [14]:
df_dayloss['bike_loss'] = df_dayloss['bikeout'] - df_dayloss['bikein']

In [21]:
%%time
df_dayloss0 = df_dayloss
for i in df_dayloss0.index.values:
    try:
        df_dayloss0.loc[i, 'latitude'] = df.loc[df.start_stationid == df_dayloss.loc[i, 'station_id'], 'start_station_latitude'].unique()[0]
        df_dayloss0.loc[i, 'longitude'] = df.loc[df.start_stationid == df_dayloss.loc[i, 'station_id'], 'start_station_longitude'].unique()[0]
    except:
        print i
        continue

18443
18447
18448
18477
CPU times: user 1min 20s, sys: 590 ms, total: 1min 21s
Wall time: 1min 21s

In [26]:
df_Dayloss0=df_dayloss0.dropna()

In [30]:
df_Dayloss0.to_csv('bike_left12.csv')